{%extends 'pubblicita/base.html'%}
{%block title%}Annuario{%endblock title%}
{% block content%}

<div class="annuario-detail">
   <div class="annuario-detail__wrapper">

      <div class="-half annuario-detail__left">
         <img class="-mainImage" src="{{annuario.cover_img.url}}" alt="...">
         <div class="-interne">
            {%for pag in annuario.immaginiannuario_set.all%}
            <div class="-interne__item">
               <img onclick="detail('{{pag.img.url}}')" id="img-{{pag.img.id}}" src="{{pag.img.url}}" alt="...">
            </div>
            {%endfor%}
         </div>
      </div>

      <div class="-half annuario-detail__right">
         <h4>{{annuario.nome}}</h4>
         <h1>{{annuario.intro_title}}</h1>
         <p>{{annuario.intro_text}}</p>
         <p id="annuario-intro-footer">{{annuario.intro_footer}}</p>
      </div>

      <div class="-innerNav">
         {%if prev%}
         <div class="-innerNav__item"><a href="{%url 'annuario-detail' prev%}">Precedente</a></div>
         {%else%}
         <div class="-innerNav__item no-active">Precedente</div>
         {%endif%}
         {%if next%}
         <div class="-innerNav__item"><a href="{%url 'annuario-detail' next%}">Successivo</a></div>
         {%else%}
         <div class="-innerNav__item no-active">Successivo</div>
         {%endif%}
      </div>

   </div>
</div>



<div class="modal" id="imgModal">
   <div class="modal-dialog">
      <div class="modal-content">

         <!-- Modal Header -->
         <div class="modal-header">
            <h4 class="modal-title">Modal Heading</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
         </div>

         <!-- Modal body -->
         <div id="modal-img-div" class="modal-body">

         </div>

         <!-- Modal footer -->
         <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
         </div>

      </div>
   </div>
</div>

<script>
   function detail(url) {
      var img_str = '<img style= "max-width:100%;max-height:100%;"id="theImg" src=' + url + '/>'
      $('#modal-img-div').prepend(img_str)
      $('#imgModal').modal('toggle');
   }
</script>

{%endblock%}