{%extends 'pubblicita/base.html'%}

{%block title%}Annuari{%endblock title%}

{% block content%}
<div class="annuario">
   <div class="annuario__wrapper">

      {%for annuario in annuari%}
      <div class="annuario__card">
         <div class="-image">
            <a href="{%url 'annuario-detail' annuario.id%}">
               {%if annuario.cover_img%}
               <img src="{{ annuario.cover_img.url }}" alt="...">
               {%else%}
               <img src="..." alt="...">
               {%endif%}
            </a>
         </div>
         <div class="-content">
            <h5 class="card-title">{{annuario.nome}}</h5>
            <p class="card-text">{{annuario.giuria}}</p>
         </div>
      </div>
      {%endfor%}

   </div>
</div>
{%endblock%}