{% load static %}
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>{%block title%}{%endblock title%}</title>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&display=swap"
      rel="stylesheet">
   <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>


   <link rel="stylesheet" type="text/css" href="{% static 'pubblicita/stili.css' %}">

   {%block header%}
   {%endblock%}



</head>

<body>
   <nav>
      <div class="nav-wrapper">

         <a class="nav-id" href="{%url 'home'%}">PUBBLICITÀ IN ITALIA 1954–1980</a>

         <ul class="nav-links">
            <li class="nav-links__item">
               <a href="{%url 'come-funziona'%}">Come Funziona</a>
            </li>
            <li class="nav-links__item">
               <a href="{%url 'annuari-list'%}">Annuari</a>
            </li>
            <li class="nav-links__item">
               <a href="{%url 'soggetti-list'%}">Soggetti</a>
            </li>
            <li class="nav-links__item">
               <a href="{%url 'relazioni'%}">Relazioni</a>
            </li>
            <li class="nav-links__item">
               <a href="{%url 'contatti'%}">Contatti</a>
            </li>
         </ul>

      </div>
   </nav>

   {%block content%}

   {%endblock%}

</body>


</html>