{%extends 'pubblicita/base.html'%}

{%block title%}Istruzioni{%endblock title%}

{% block content%}
<div class="container">
    <p align="justify">La piattaforma sviluppata ha come obiettivo quello di relazionare e confrontare soggetti e artefatti, costruendo interdipendenze tra i contenuti e sopperire alla mancanza di dati bibliografici o archivistici. Il database creato va inteso come strumento di comparazione storica e come modello applicabile su altri artefatti e implementabile. La struttura della piattaforma permette un confronto su diversi livelli, attraverso la messa in relazione tra due variabili, si configura così come un tool utile per storici, ricercatori, studenti ma anche progettisti.
    Nella pagina soggetti vengono elencati tutti gli operatori comparsi nell’annuario Pubblicità in Italia, i numeri a lato identificano la totalità di artefatti realizzati dal soggetto, mentre le abbreviazioni indicano i ruoli ricoperti:</p>
    <ul>
    <li>AR Artista Grafico</li>
    <li>PH Fotografo</li>
    <li>AD Art Director</li>
    <li>AP Agenzia Pubblicitaria</li>
    <li>UP Ufficio Interno all’azienda</li>
    <li>AZ Azienda</li>
    <li>CW Copywriter</li>
    <li>ST Stampatore</li>
</ul>
    <p align="justify">Attraverso una serie di filtri è possibile visualizzare i soggetti con ordine diverso, nella loro totalità o per anni. Cliccando su un soggetto specifico comparirà la scheda con tutti gli artefatti realizzati per anno,  una serie di diagrammi a barre rende visibile le collaborazioni ricorrenti.
Nella pagina relazioni è possibile identificare le interconnessioni tra due soggetti con diverso ruolo. Il primo step richiede la scelta del soggetto 1, una volta generata la lista sarà possibile scegliere il soggetto 2. Anche in questo caso i filtri permettono di organizzare e ordinare i soggetti nel modo più adatto.
</p>
</div>
{%endblock%}