{%extends 'pubblicita/base.html'%}

{%block title%}Home{%endblock title%}

{% block content%}
<div class="home">
   <p class="home__main">La presente piattaforma si inserisce in una ricerca dottorale che si pone l’obiettivo
      di
      ricostruire le relazioni esistenti tra grafici e fotografi nell’ambito della pubblicità italiana tra il 1950 e il
      1980. Tale storia è caratterizzata da un alto grado di nebulosità, che rende complessa la tracciabilità degli
      eventi.
      L’elaborazione di una metodologia fondata su dati quantificabili, mirata a definire le persistenze e le variazioni
      durante il periodo preso in considerazione, si interseca perfettamente alle possibilità offerte dagli strumenti
      digitali, permettendo di trattare in modo incrociato ed efficace grandi quantità di materiali per l’analisi di
      determinati fenomeni storici.
      Per dare forma al panorama qui preso in considerazione si è ricorso a quantità di artefatti numericamente
      rilevanti, che hanno permesso di estrapolare dati significativi, in grado di interpretare, seppur non in maniera
      completamente esaustiva, un particolare aspetto della realtà della comunicazione pubblicitaria tra il 1953 e il
      1980.
      Viene qui raccolto parte dell’annuario Pubblicità in Italia, in particolare sono stati digitalizzati i capitoli
      Manifesti, Annunci e Phieghevoli per gli annuari dal 1953 al 1980.
      La digitalizzazione di Pubblicità in Italia offre una nuova opportunità di impiego di questi materiali nell’ambito
      della storia della comunicazione visiva, proponendo una panoramica su artisti grafici, art directors, fotografi,
      agenzie e aziende secondari o trascurati dalla letteratura di settore. Si tratta dunque di una gamma di contenuti
      vasta, che racconta una storia frammentaria composta da piccole singole storie.
   </p>


   <p class="home__credits">
      Università Iuav di Venezia<br>
      Dottorato in Architettura, città e design<br>
      Curriculum Scienze del design<br>
      Dottoranda: Lucia Del Zotto<br>
      Relatore: Fiorella Bulegato<br>
   </p>
</div>

{%endblock%}